<!DOCTYPE html>
<html lang="en">
<head>
    <b>Welcome Jave Developer course.</b>

  <h1 align="right" style="color:blue">String boot</h1>
  <h2>String boot</h2>

  <h3>String boot</h3>

  <h4 >String boot</h4>

  <img src="springboot.png" alt="Spring boot image"/>

  <ul>
    <li>Java</li>
    <li>MVC</li>
  </ul>

  <a href="https://my.cydeo.com">Cydeo</a>
<br>
  <br>


<br>
    <label>Username:</label>
    <input type="text" name="username" id="username">
    </br>
    <label>Password :</lable>
      <input type="password>



<thead>
</body>
</html>